div#wrapper p {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
}

div#wrapper input
{
	width:25px;
	height:25px;
	border:1px solid #dedede;
	background:#fff;
	margin:none;
	color:#666;
}

.winner {
	color:#00ff00;
	font-style:oblique;
	font-size:36px;
}

.loser {
	color:#ff0000;
	font-style:oblique;
	font-size:36px;
}

div#wrapper input:hover
{
	cursor:pointer;
}

div#wrapper
{
	color:#666;
	position: absolute; 
	top: 10px; 
	left: 50px;"
}

div#wrapper a
{
	text-decoration:none;
	font-family: Arial, helvetica, sans-serif;
	color:#666;
	text-indent:57px;
	float:left;
	margin-top:10px;
	font-size:14px;
}

div#wrapper a:hover
{
	text-decoration:underline;
}